border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

body
    background #444444

.mainContent
    background white
    margin-top 0px
    border-radius 5px

.innerContent
    padding 10px 20px

.footer
    margin-top 10px
    color #999999
    text-align center

#titleText
    float left

#titleLogin
    float right

#titleLogoutButton
    vertical-align bottom
    margin-top 10px

.custom_title
    color #999999
    font-weight normal

#activities .activity
    cursor pointer

.activityListItem
    line-height 100%

#customActivities-list
    cursor pointer

#customActivities-list .custom
    display block
    height 30px
    position relative
    overflow hidden

#customActivities-list .custom .display
    margin-left 40px
    height 100%
    width auto
    float left
    padding-top 0px
    line-height 1

#customActivities-list .custom .destroy
    width 30px
    cursor pointer
    position absolute
    display none
    
#customActivities-list .custom:hover .destroy
    display inherit
    color #aaaaaa

#customActivities-list .custom .destroy:hover
    color black

.dataTable
    margin-left 30px

tr .centered
    text-align center

.addDataRow td
    cursor pointer
    text-align center

.removeDataCell
    text-align center
    width 30px
    color #aaaaaa
    cursor pointer

.removeDataCell:hover
    color red

.dataTableCell
    cursor pointer
    width 120px
    height 30px
    float left

.editLang th
    width 33%

.editLang td
    cursor pointer
    background-color lightblue

.editableLabel
    cursor pointer
