<template name="navbar">
    <div class="container">
        <div class="navbar">
            <div id="titleNavbar" class="navbar-inner">
                <a class="brand" href="#">myTinker</a>
                <ul class="nav">
                    <li id="navbarActivities"><a href="/activities">{{lang.Activities}}</a></li>
                    <li id="navbarSettings"><a href="#">{{lang.Settings}}</a></li>
                    <li class="divider-vertical"></li>
                    <li id="set-lang-fr"><a href="#">fr</a></li>
                    <li id="set-lang-de"><a href="#">de</a></li>
                    <li id="set-lang-en"><a href="#">en</a></li>
                    <li class="divider-vertical"></li>
                    <li id="navbarLogout">
                        <a href="#">{{lang.Logout}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
